.overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: hsla(0, 0%, 10%, .5);
    transform: scale(0, 0);
}

.active-overlay {
    transform: scale(1, 1);
    transition: all 0ms 700ms;
}